<h4>
    本のタイトル:
    <%= @book.title %>
</h4>

<h4>
    感想:
    <%= @book.body %>
</h4>

<p class = "form2" >
    <%= link_to "Edit", edit_book_path, style: "color:black" %> |
    <%= link_to "Back", back_book_path, style: "color:black" %>
</p>

